.loader {
  border-color: $color-grey-100;
  border-radius: 50%;
  border-top-color: $color-red-100;
  border-right-color: $color-green-100;
  border-bottom-color: $color-orange-100;
  border-left-color: $color-blue-100;
}