.loader--dot:first-child {
    background-color: $color-red-100;
}

.loader--dot:nth-child(2) {
    background-color: $color-green-100;
}

.loader--dot:nth-child(3) {
    background-color: $color-blue-100;
}

.loader--dot:nth-child(4) {
    background-color: $color-brown-100;
}

.loader--dot:nth-child(5) {
    background-color: $color-orange-100;
}

.loader--dot:nth-child(6) {
    background-color: $color-yellow-100;
}