.default-bar-header,
.default-bar-footer,
.default-bar-item
 {
    border-color: $color-grey-20;
    background-color: $color-white;
}

.default-bar-item:hover,
.default-bar-item:active,
.default-bar-item:focus
{
    border-color: $color-grey-20;
    background-color: $color-grey-10;
    cursor: pointer;
}
