@{
    ViewData["Title"] = "angularXcore";
}

<app>
    <div class='custom-modal' style="background: white">
        <div class="loader absolut-center"></div>
    </div>
</app>

@*<app asp-prerender-module="ClientApp/dist/main-server">
        <div class='custom-modal' style="background: white">
            <div class="loader absolut-center"></div>
        </div>
    </app>*@

<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script src="~/scripts/_scripts.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}

@*@Html.Raw(ViewData["SpaHtml"]) <!-- magic -->
<!-- here you probably have your webpack vendor & main files as well -->
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}*@
