@import '../../../../../../wwwroot/styles/colors.scss';

button[name*=localizationButton]:hover,
button[name*=localizationButton]:active,
button[name*=localizationButton]:focus
{
    border-style: solid;
    border-width: 1px;
    border-color: $color-grey-80;
    color: $color-grey-80;
}

.localization-bar-header a:hover {
    text-decoration: none;
}