@import '../../../../../wwwroot/styles/colors.scss';

.navbar-top-header {
    /*padding: 0.25rem 1rem;*/
}

    .navbar-top-header a:hover,
    .navbar-top-header a:active,
    .navbar-top-header a:focus {
        border-style: solid;
        border-width: 1px;
        border-color: $color-red-100;
        color: $color-red-100;
    }

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .navbar-top-header {
        /*padding: 0.1rem 0.25rem;*/
    }
}
