<div class="d-flex flex-row justify-content-between bg-color-grey-10 navbar-top-header">
    <div class="p-1">
        <a href="http://kusar.ch" target="_blank" class="btn btn-sm bg-color-red-100 color-red-100" style="background: transparent">
            <i class="fa fa-external-link" aria-hidden="true"></i> Kusar.ch
        </a>
    </div>
    <div class="p-1">
        <navmenu-elements-localization></navmenu-elements-localization>
        <navmenu-elements-login [isLoggedIn]="isLoggedIn" [user]="user" [loginError]="loginError" (onLogin)="onLoginPerformed($event)" (onLogout)="onLogoutPerformed($event)"></navmenu-elements-login>
        <navmenu-elements-notification></navmenu-elements-notification> 
    </div>
</div>