<div class="dropdown" style="display: inline-flex">
    <button name="notificationButton" class="btn btn-sm color-grey-80" style="background: transparent"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge bg-color-grey-80">4</span>
    </button>
    <div class="default-bar dropdown-menu dropdown-menu-right">
        <div class="default-bar-header d-flex flex-row justify-content-end">
            <!--<i class="fa fa-bell-o color-grey-80" aria-hidden="true">
                <span class="badge bg-color-grey-80">4</span>
            </i>-->
            <a href="#" class="float-xs-right">Clear</a>
        </div>
        <div class="default-bar-items">
            <div class="default-bar-item">
                <h6><i class="fa fa-file-pdf-o" aria-hidden="true"></i> New File Available</h6>
                <span>
                    A new File is ready for you.
                </span>
            </div>
            
            <div class="default-bar-item">
                <h6><i class="fa fa-file-pdf-o" aria-hidden="true"></i> New File Available</h6>
                <span>
                    A new File is ready for you.
                </span>
            </div>
        </div>
    </div>
</div>