<div class="dropdown" style="display: inline-flex">
    <button name="notificationButton" class="btn btn-sm bg-color-blue-100 color-blue-100" style="background: transparent"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell-o" aria-hidden="true"></i> <span class="badge bg-color-blue-100">4</span>
    </button>
    <div class="notification-bar dropdown-menu dropdown-menu-right">
        <div class="notification-bar-header d-flex flex-row justify-content-between">
            <i class="fa fa-bell-o color-blue-100" aria-hidden="true">
                <span class="badge bg-color-blue-100">4</span>
            </i>
            <a href="#" class="float-xs-right">Clear</a>
        </div>
        <div class="notification-bar-items">
            <div class="notification-bar-item">
                <h6><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Invoice Januar 2017 (GAS)</h6>
                <span>
                    A new Invoice is ready for your review.
                </span>
            </div>

            <div class="notification-bar-item">
                <h6><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Invoice Januar 2017 (Power)</h6>
                <span>
                    A new Invoice is ready for your review.
                </span>
            </div>

            <div class="notification-bar-item">
                <h6><i class="fa fa-file-pdf-o" aria-hidden="true"></i> 2016 Invoice Overview</h6>
                <span>
                    A new Invoice Overview is ready for your review.
                </span>
            </div>

            <div class="notification-bar-item outline-color-red-100">
                <h6><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Generis Data has some errors</h6>
                <span>
                    Please check your generis data.
                </span>
            </div>
        </div>
    </div>
</div>