
.box-solid {
    padding: 0.5em;
    border-style: solid;
}

.box-solid-top {
    border-top-style: solid;
}

.box-solid-right {
    border-right-style: solid;
}

.box-solid-bottom {
    border-bottom-style: solid;
}

.box-solid-left {
    border-left-style: solid;
}