.color-black {
    color: $color-black; 
}

.color-white {
    color: $color-white; 
}

.color-grey-10 {
    color: $color-grey-10; 
}

.color-grey-20 {
    color: $color-grey-20;
}

.color-grey-60 {
    color: $color-grey-60; 
}

.color-grey-80 {
    color: $color-grey-80; 
}

.color-grey-100 {
    color: $color-grey-100; 
}

.color-red-100 {
    color: $color-red-100;
}

.color-red-secondary {
    color: $color-red-secondary; /* FireBrick red */
}

.color-green-100 {
    color: $color-green-100;
}

.color-green-55 {
    color: $color-green-55;
}

.color-green-20 {
    color: $color-green-20;
}

.color-orange-100 {
    color: $color-orange-100;
}

.color-orange-40 {
    color: $color-orange-40;
}

.color-blue-100 {
    color: $color-blue-100;
}

.color-blue-50 {
    color: $color-blue-50;
}

.color-blue-10 {
    color: $color-blue-10;
}

.color-yellow-100 {
    color: $color-yellow-100;
}

.color-yellow-50 {
    color: $color-yellow-50;
}

.color-brown-100 {
    color: $color-brown-100;
}

.color-brown-50 {
    color: $color-brown-50;
}