.notification-bar-header,
.notification-bar-footer,
.notification-bar-item,
.login-bar-header,
.login-bar-footer,
.login-bar-item,
.user-bar-header,
.user-bar-footer,
.user-bar-item
 {
    border-color: $color-grey-20;
    background-color: $color-white;
}

.notification-bar-item:hover,
.notification-bar-item:active,
.notification-bar-item:focus,
.user-bar-item:hover,
.user-bar-item:active,
.user-bar-item:focus 
{
    border-color: $color-grey-20;
    background-color: $color-grey-10;
    cursor: pointer;
}
