/* Backgrounds with appropriate color */

.bg-color-grey-100 {
    background: $color-grey-100;
    color: $color-white;
}

.bg-color-grey-80 {
    background: $color-grey-80;
    color: $color-white;
}

.bg-color-grey-60 {
    background: $color-grey-60;
    color: $color-white;
}

.bg-color-grey-20 {
    background: $color-grey-20;
    color: $color-black;
}

.bg-color-grey-10 {
    background: $color-grey-10;
    color: $color-black;
}

.bg-color-red-100 {
    background: $color-red-100;
    color: $color-white;
}

.bg-color-red-secondary {
    background: $color-red-secondary; /* FireBrick red */
    color: $color-white;
}

.bg-color-green-100 {
    background: $color-green-100;
    color: $color-white;
}

.bg-color-green-55 {
    background: $color-green-55;
    color: $color-white;
}

.bg-color-green-20 {
    background: $color-green-55;
    color: $color-black;
}

.bg-color-orange-100 {
    background: $color-orange-100;
    color: $color-white;
}

.bg-color-orange-40 {
    background: $color-orange-40;
    color: $color-white;
}

.bg-color-blue-100 {
    background: $color-blue-100;
    color: $color-white;
}

.bg-color-blue-50 {
    background: $color-blue-50;
    color: $color-white;
}

.bg-color-blue-10 {
    background: $color-blue-10;
    color: $color-black;
}

.bg-color-yellow-100 {
    background: $color-yellow-100;
    color: $color-black;
}

.bg-color-yellow-50 {
    background: $color-yellow-50;
    color: $color-black;
}

.bg-color-brown-100 {
    background: $color-brown-100;
    color: $color-white;
}

.bg-color-brown-50 {
    background: $color-brown-50;
    color: $color-white;
}