.outline-color-grey-10 {
    border-color: $color-grey-10; 
}

.outline-color-grey-20 {
    border-color: $color-grey-20;
}

.outline-color-grey-60 {
    border-color: $color-grey-60; 
}

.outline-color-grey-80 {
    border-color: $color-grey-80; 
}

.outline-color-grey-100 {
    border-color: $color-grey-100; 
}

.outline-color-red-100 {
    border-color: $color-red-100;
}

.outline-color-red-secondary {
    border-color: $color-red-secondary; /* FireBrick red */
}

.outline-color-green-100 {
    border-color: $color-green-100;
}

.outline-color-green-55 {
    border-color: $color-green-55;
}

.outline-color-green-20 {
    border-color: $color-green-20;
}

.outline-color-orange-100 {
    border-color: $color-orange-100;
}

.outline-color-orange-40 {
    border-color: $color-orange-40;
}

.outline-color-blue-100 {
    border-color: $color-blue-100;
}

.outline-color-blue-50 {
    border-color: $color-blue-50;
}

.outline-color-blue-10 {
    border-color: $color-blue-10;
}

.outline-color-yellow-100 {
    border-color: $color-yellow-100;
}

.outline-color-yellow-50 {
    border-color: $color-yellow-50;
}

.outline-color-brown-100 {
    border-color: $color-brown-100;
}

.outline-color-brown-50 {
    border-color: $color-brown-50;
}