.btn[class*="outline-color"]
{
    background: $color-white;
}

nav .btn[class*="outline-color"]
{
    background: $color-transparent;
}

.btn[class*="bg-color-grey"]:hover,
.btn[class*="bg-color-grey"]:active,
.btn[class*="bg-color-grey"]:focus
{
    color: $color-grey-100;
    background: $color-white;
    border-color: $color-grey-100;
}

.btn[class*="outline-color-grey"]:hover,
.btn[class*="outline-color-grey"]:active,
.btn[class*="outline-color-grey"]:focus
{
    color: $color-white;
    background: $color-grey-100;
    border-color: $color-grey-100;
}

.btn[class*="bg-color-red"]:hover,
.btn[class*="bg-color-red"]:active,
.btn[class*="bg-color-red"]:focus
{
    color: $color-red-100;
    background: $color-white;
    border-color: $color-red-100;
}

.btn[class*="outline-color-red"]:hover,
.btn[class*="outline-color-red"]:active,
.btn[class*="outline-color-red"]:focus
{
    color: $color-white;
    background: $color-red-100;
    border-color: $color-red-100;
}

.btn[class*="bg-color-green"]:hover,
.btn[class*="bg-color-green"]:active,
.btn[class*="bg-color-green"]:focus
{
    color: $color-green-100;
    background: $color-white;
    border-color: $color-green-100;
}

.btn[class*="outline-color-green"]:hover,
.btn[class*="outline-color-green"]:active,
.btn[class*="outline-color-green"]:focus
{
    color: $color-white;
    background: $color-green-100;
    border-color: $color-green-100;
}

.btn[class*="bg-color-orange"]:hover,
.btn[class*="bg-color-orange"]:active,
.btn[class*="bg-color-orange"]:focus
{
    color: $color-orange-100;
    background: $color-white;
    border-color: $color-orange-100;
}

.btn[class*="outline-color-orange"]:hover,
.btn[class*="outline-color-orange"]:active,
.btn[class*="outline-color-orange"]:focus
{
    color: $color-white;
    background: $color-orange-100;
    border-color: $color-orange-100;
}

.btn[class*="bg-color-blue"]:hover,
.btn[class*="bg-color-blue"]:active,
.btn[class*="bg-color-blue"]:focus
{
    color: $color-blue-100;
    background: $color-white;
    border-color: $color-blue-100;
}

.btn[class*="outline-color-blue"]:hover,
.btn[class*="outline-color-blue"]:active,
.btn[class*="outline-color-blue"]:focus
{
    color: $color-white;
    background: $color-blue-100;
    border-color: $color-blue-100;
}

.btn[class*="bg-color-yellow"]:hover,
.btn[class*="bg-color-yellow"]:active,
.btn[class*="bg-color-yellow"]:focus
{
    color: $color-black;
    background: $color-white;
    border-color: $color-yellow-100;
}

.btn[class*="outline-color-yellow"]:hover,
.btn[class*="outline-color-yellow"]:active,
.btn[class*="outline-color-yellow"]:focus
{
    color: $color-black;
    background: $color-yellow-100;
    border-color: $color-yellow-100;
}

.btn[class*="bg-color-brown"]:hover,
.btn[class*="bg-color-brown"]:active,
.btn[class*="bg-color-brown"]:focus
{
    color: $color-brown-100;
    background: $color-white;
    border-color: $color-brown-100;
}

.btn[class*="outline-color-brown"]:hover,
.btn[class*="outline-color-brown"]:active,
.btn[class*="outline-color-brown"]:focus
{
    color: $color-white;
    background: $color-brown-100;
    border-color: $color-brown-100;
}