$color-transparent: transparent;

/* Primary Colors */
$color-red-100: #e10019;
$color-red-secondary: #B22222; /* FireBrick red */

$color-grey-10: #eeefef;
$color-grey-20: #e1e2e3;
$color-grey-60: #a1a2a4;
$color-grey-80: #7e7f81;
$color-grey-100: #575a5d;

$color-white: #ffffff;
$color-black: #000000;

/* Secondary Colors */
$color-orange-40: rgb(252, 206, 155);
$color-orange-100: #f29400;

$color-brown-50: rgb(173, 144, 107);
$color-brown-100: #7a4f11;

$color-yellow-50: rgb(255, 247, 178);
$color-yellow-100: #fedd3c;

$color-green-20: #ddeece;
$color-green-55: rgb(77, 215, 147);
$color-green-100: #7ab51d;

$color-blue-10: #e7edf5;
$color-blue-50: rgb(132, 175, 218);
$color-blue-100: #0064a5;