@import '../../../../../../wwwroot/styles/colors.scss';

button[name*=notificationButton]:hover,
button[name*=notificationButton]:active,
button[name*=notificationButton]:focus
{
    border-style: solid;
    border-width: 1px;
    border-color: $color-grey-80;
    color: $color-grey-80; 
}