<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\webapp-logs\nlog-internal.txt">

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="all-logs" fileName="c:\temp\webapp-logs\nlog-all-${shortdate}.log"
            layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="own-logs" fileName="c:\temp\webapp-logs\nlog-own-${shortdate}.log"
            layout="${longdate} | ${event-properties:item=EventId.Id} | ${uppercase:${level}} | ${logger} | host:${aspnet-request-host} | userId: ${aspnet-user-id} | username: ${aspnet-user-name} | url: ${aspnet-request-url} | method: ${aspnet-request-method} | controller: ${aspnet-MVC-Controller} | action: ${aspnet-mvc-action} | message: ${message} | exception: ${exception} |" />

    <target xsi:type="File" name="global-trace-logs" fileName="c:\temp\webapp-logs\nlog-global-trace-${shortdate}.log"
            layout="${longdate} | ${event-properties:item=EventId.Id} | ${uppercase:${level}} | ${logger} | host:${aspnet-request-host} | user-id: ${aspnet-user-id} | user-name: ${aspnet-user-name} | user-agent: ${aspnet-Request-UserAgent} | url: ${aspnet-request-url} | method: ${aspnet-request-method} |" />



    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="all-logs" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="WebApp.Middleware.GlobalTraceMiddleware" levels="Trace" writeTo="global-trace-logs" final="true" />
    <logger name="*" minlevel="Trace" writeTo="own-logs" />
  </rules>
</nlog>

<!--Log levels

The following are the allowed log levels (in descending order):

Fatal
Error
Warn
Info
Debug
Trace
Also to turn off logging, use Off

Examples when you could use which level:

Level	Example
Fatal	Highest level: important stuff down
Error	For example application crashes / exceptions.
Warn	Incorrect behavior but the application can continue
Info	Normal behavior like mail sent, user updated profile etc.
Debug	Executed queries, user authenticated, session expired
Trace	Begin method X, end method X etc-->